body {
    background: rgba(43, 132, 184, 0.568)
}

.ratings i {
    color: #008000
}

.install span {
    font-size: 12px
}

.col-md-4 {
    margin-top: 0px
}

.btn-material-link:hover,
.btn-material:not([className^="btn-material btn-material-"]):hover,
.btn-material-default:hover {
    color: rgba(0, 0, 0, .84);
}

.btn-material:hover:not(.btn-material-link) {
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 28%);
}

button.facebtn {
    text-align: center;
    margin: 0 auto;
    border: 0;
    line-height: 25px;
}

.btn-material {
    position: relative;
    padding: 0px 0px;
    border-radius: 4px;
    text-decoration: none;
    -webkit-transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
    outline: none!important;
}

.center-block {
    display: block;
}

button {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
    box-sizing: border-box;
    font: 400 13.3333px Arial;
}

.tab-content>.active {
    display: block;
    visibility: visible;
}

.tab-content>.tab-pane {
    display: none;
    visibility: hidden;
}

.product-img {
    opacity: 0.9;
    filter: brightness(75%);
}